bs4<=0.0.1
six<=1.9.0
rsa<=3.4.2
pbr>=1.8
requests<=2.10.0
SQLAlchemy<=1.0.11
sqlalchemy-migrate<=0.10.0
PyMySQL<=0.6.7
iso8601<=0.1.11
eventlet<=0.19.0
greenlet<=0.4.10
iso8601<=0.1.11
monotonic<=0.4
funcsigs<=0.4
fasteners<=0.14.1

# error
# sudo yum install mariadb.x86_64 mariadb-devel.x86_64
# http://codingnow.cn/language/159.html
MySQL-python<=1.2.3
